@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Silkscreen';
  src: url('/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Silkscreen', sans-serif;
  background-color: black;
}



