@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Silkscreen';
  src: url('/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Silkscreen', sans-serif;
  background-color: black;
}

.truncate-address {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 769px) {
  .truncate-address {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
  }
}



